.mainContainers {
  display: block;
  position: relative;
  height: auto;
  width: 100%;
}
.slideRow {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -15px; */
  margin-left: 5%;
  margin-bottom: 20px;
}
#slideDetails {
  margin-right: 22px;
}
@media only screen and (max-width: 800px) {
  .slideRow .card1 {
    display: block;
    margin: auto auto;
  }
}
@media only screen and (max-width: 800px) {
  #root {
    width: 390px;
  }
}
.imageAlter {
  width: 100%;
  height: 285px;
}
.cardTitle {
  margin-left: 33%;
  font-weight: bold;
  margin-bottom: 3%;
  margin-top: 8%;
  /* color: #ffffff; */
}
@media only screen and (max-width: 800px) {
  .cardTitle {
    margin-left: 21%;
    font-size: 16px;
    position: relative;
    /* bottom: 32px; */
    bottom: 15px;
    color: black;
  }
}
@media only screen and (max-width: 800px) {
  .mainContainer {
    position: relative;
    bottom: 368px;
    left: 27px;
    /* left: 38px; */
  }
}
@media only screen and (max-width: 800px) {
  #slideDetails {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .about,
  .Title {
    display: none;
  }
}
